<form action="">
  <input 
    type="search" 
    placeholder="Search todos" 
    name="searchBy"
    [(ngModel)]="searchBy" />
</form>

@if(todos().length === 0) {
<p>Loading...</p>
}

<ul>
  @for (item of todos() | filterTodo: searchBy(); track item.id) {
  <li appHighlightTodo [isComplete]="item.completed">
    <input
      id="item-{{ item.id }}"
      type="checkbox"
      title="todos"
      [value]="item.completed"
      [checked]="item.completed"
      (change)="handleCompleteTodo(item.id)"
    />
    <label for="item-{{ item.id }}">{{ item.title | titlecase }}</label>
  </li>
  }
</ul>
